@page "/"
@using System.Collections;
<div>
    <h1>May Peace Be upon You!</h1>
    <InputText @bind-Value="inputText" /><button @onclick="Randomizer">Random</button>
    @foreach (var item in screenLogger)
    {
        <h1>@item</h1>
    }
    @switch (inputText)
    {
        case "":
            switch (foundTheApp)
            {
                case true:
                    <h1>Go home Nothing to see here</h1>
                    break;
                case false:
                    <h5>Welcome choose a App. Write the App you like in the InputField as such "Todo App" but without the strings. their are more find them out and press Enter</h5>
                    break;
            }
            break;

        case "BinaryTree":
            <BinaryTree />
            break;
        case "Todo App":
            <TodoControl />
            break;
        case "Table App":
            <TableControl />
            break;
        case "Notepad App":
            <NotePadControl />
            break;
    }
</div>


@code{
    public bool foundTheApp = false;
    public string inputText = "";
    public List<string> screenLogger = new List<string>();
    public List<string> appsList = new List<string>(){"Todo App","Table App","Notepad App",""};

    public void Randomizer()
    {
        foundTheApp = false;
        var random = new Random();
        var randomNum = random.Next(0, appsList.Count);
        inputText = appsList[randomNum]; 
        if(inputText == "")
        {
            foundTheApp = true;
        }
    }
    void AddtoScreenLogger(string text)
    {
        if(screenLogger.Count < 1)
        {
            screenLogger.Add(inputText);
        }
        else
        {
            screenLogger.Remove(text);
        }
    }

}